[user]
    name = Teia Leusten
	email = teia.leusten@proton.me
    signingkey = 39AE94EEDBF345EF

[commit]
	gpgSign = true

[include]
    path = ~/Drive/.gitconfig
    path = ~/.config/delta/themes/catppuccin.gitconfig

[pull]
	rebase = true

[core]
    pager = delta
	whitespace = -trailing-space,-indent-with-non-tab,-tab-in-indent

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    features = catppuccin-macchiato

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[init]
	defaultBranch = main

[credential]
	helper = osxkeychain

[safe]
	directory = ~/.local/share/nvim/*
