# OS stuff
.DS_Store

# Zsh stuff
.zcompdump*
.zsh_history
.zsh_sessions/

# Temporary output and cache files
tmux/.config/tmux/plugins
lazy-lock.json
.luarc.json

# Gradle config
gradle/.config/gradle/*
!gradle/.config/gradle/gradle.properties
